
@{
    ViewBag.Title = "Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="font-size:25px">Approval Pengembalian Blanko</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <div class="body">
                            <div class="table-responsive">
                                <table id="datatable2" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info">
                                    <thead>
                                        <tr>

                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Tanggal
                                            </th>
                                            <th>
                                                Berita Acara
                                            </th>
                                            <th>
                                                Blanko
                                            </th>
                                            <th>
                                                Tipe Blanko
                                            </th>
                                            <th width="65px"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Hidden("item-to-approve", "", new { @id = "item-to-approve" })
@section Scripts {
    <script>
        var table;
        $(document).ready(function () {
            table = $('#datatable2').DataTable({
                ajax: {
                    type: "GET",
                    url: '@Url.Action("GetPengembalian")',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                },
                columns: [
                    { "data": "PENGELOLAAN_BLANKO_ID", "autoWidth": true },
                    {
                        "data": "tanggal", "autoWidth": true, "render": function (data) {
                            return convertToJavaScriptDate(data);
                        }
                    },
                    {
                        "data": "beritaAcaraFile", "autoWidth": true, "render": function (data) {
                            return '<a href="#" id=' + data + ' onclick="showPdf(this)"><i class="fa fa-file"></i></a>';
                        }
                    },
                    { "data": "blanko", "autoWidth": true },
                    { "data": "tipe_blanko", "autoWidth": true },
                    {
                        "data": "PENGELOLAAN_BLANKO_ID", "autoWidth": true, "render": function (data) {
                            return '<a class="btn btn-primary action" id=' + data + ' onclick="showPopUp(this)"  ><i class="fa fa-check"></i></a>';
                        }
                    }
                ]
            });
        });

        $('#btnContinueApprove').click(function() {
            var id = parseInt($('#item-to-approve').val());
             $.ajax({
                type: "POST",
                url: '@Url.Action("ApprovePengembalian")',
                data: JSON.stringify({ id: id }), //use id here
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (respons) {
                     if (respons.message == "success") {
                         table.ajax.reload();
                         NotifSucces();
                     }
                     else {
                         $('.bs-example-modal-sm').modal('hide');
                         NotifFiled()
                     }
                },
                 error: function () {
                     NotifFiled();
                 }


              });
        });

    </script>
    <script>
        function showPdf(e) {
            var fullPath = bashPath + 'Content/pdf/' + e.id;
            document.getElementById("object-show-pdf").data = fullPath;
            $('.bs-example-modal-lg').modal('show');
        }

        function showPopUp(e) {
            var id = e.id;
            $('#item-to-approve').val(id);
            $('.bs-example-modal-sm').modal('show');
        }

    </script>


}

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class='embed-responsive' style='padding-bottom:150%'>
                <object id="object-show-pdf" data="" type='application/pdf'></object>
            </div>

        </div>
    </div>
</div>


<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Approve Data </h4>
            </div>
            <div class="modal-body">
                <p>
                    Apakah anda melakukan approval untuk data ini?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger col-lg-3" id="btnContinueApprove" data-dismiss="modal"> Ya</button>
                <button type="button" class="btn btn-primary col-lg-3 fc-corner-left" data-dismiss="modal">Tidak</button>
            </div>

        </div>
    </div>
</div>
<!-- /modals -->
